# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.coverage

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.example

# Local config (if you use config.py pattern)
config.py

# Database / Postgres
postgres_data/

# Docker
*.log

# VSCode
.vscode/

# Mac / Windows junk
.DS_Store
*.db

.terraform/

terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl